* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    list-style: none;
    text-decoration: none;
}
body {
    width: 100%;
    overflow-x: hidden;
    background: #01051c;
    color: whitesmoke;
}
body .bg {
    z-index: -1;
    position: fixed;
    background-image: url(../assets/img/background/WedevolvDesign.svg);
    background-size: cover;
    width: 100%;
    height: 100dvh;
    box-shadow: 0 0 500px black inset;
    filter: brightness(0.4);
}
header {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 10dvh;
    width: 100%;
}

header span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header span svg {
    width: 40px;
    height: 50px;
}
header svg path:nth-child(1) {
    fill: whitesmoke;
}
header svg path:nth-child(2) {
    fill: #00eeff;
}
header label {
    cursor: pointer;
    z-index: 1001;
    font-size: 2rem;
    transition: 0.5s all;
}
header nav ul {
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
}
.active {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #00eeff;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50dvh;
    height: max-content;
    padding: 20px;
    text-align: center;
}
#open-navigation, header label, header span p{
    display: none;
}
#open-navigation:checked + nav {
    z-index: 100;
    position: fixed;
}
#open-navigation:checked + nav ul {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    color: #041983;
}
section h1 strong {color: #00eeff;}
.home {
    min-height: 70dvh;
    height: auto;
}
.home h1 {
    font-size: 3rem;
}
.home h1 strong,
.home h2 {
    color: #00eeff;
}
.home h2 {
    text-align: center;
    padding: 20px;
}
.home .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.home .features article {
    display: flex;
    flex-direction: column;
    background: #19191967;
    box-shadow: 5px 5px 10px black;
    padding: 20px;
    gap: 10px;
    width: 45%;
}
.home .features article h3,
.home .features article a {
    color: #00eeff;
}
/* SOURCE CODE */
.hero-source {
    gap: 20px;
}
.hero-source span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.hero-source span i {
    font-size: 40px;
    padding: 5px;
    background: #ffae00;
    border-radius: 50px;
}
.hero-source span i svg {
    stroke: black;
    stroke-width: 5px;
}
.source {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: max-content;
}
.source article {
    overflow: hidden;
    display: flex;
    width: 95%;
    height: max-content;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    background: #5b87e690;
    border: 1px solid whitesmoke;
}
.source article .pict {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: inherit;
}
.source article .pict .landscape {
    overflow: hidden;
    border-radius: inherit;
    display: flex;
    box-shadow: 0 0 10px black;
    width: 400px;
}
.source article .pict .landscape img {
    width: 100%;
}
.source article .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.source article .information h2,
.source article .information .description {
    padding: 10px;
}
.source article .information ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.source article .information ul li {
    width: 100%;
}
.source article .information ul li a,
.source article .information ul li button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #041983;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 100%;
    height: 30px;
}
.source article .information ul li a:hover,
.source article .information ul li button:hover {
    background: whitesmoke;
    color: #041983;
}
.donation {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background: #01051c;
    color: whitesmoke;
    border-radius: 10px;
    outline: 3px solid #37bbdf;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    gap: 10px;
    top: 50%;
    left: 50%;
    transition: 0.5s all;
}
.donation button {
    cursor: pointer;
    position: absolute;
    background: transparent;
    color: #37bbdf;
    font-weight: bold;
    font-size: 30px;
    right: 15px;
    top: 8px;
    border: none;
}
.donation strong {color: #37bbdf;}
.donation img {width: 80%;}
/* ICON SVG */
.hero-icon {
    padding: 20px;
    justify-content: space-evenly;
    color: white;
}
.hero-icon h1 {color: #00eeff;}
.hero-icon p {max-width: 900px;}
.hero-icon p strong {color: #00eeff}
.hero-icon .input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 90%;
}
.hero-icon .input label {
    position: absolute;
    font-size: 30px;
    color: gray;
    left: 10px;
}
.hero-icon .input input {
    width: 100%;
    height: 40px;
    border: 2px solid #22508c;
    outline: 2px solid white;
    border-radius: 20px;
    padding-left: 40px;
    font-size: 1rem;
}
.set-icon {
    display: flex;
    flex-direction: column;
    height: max-content;
    min-height: 40dvh;
    padding: 10px 100px;
}
.set-icon .category span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.set-icon .category span h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.set-icon .category span h2 small {
    color: #00eeff;
}
.set-icon .category span h2::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #00eeff;
    border-radius: 100%;
}
.set-icon .category article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.set-icon .category article h3 {font-size: 0.8rem;}
.set-icon .icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    color: whitesmoke;
}
.set-icon .icon:hover {
    background: whitesmoke;
    color: black;
}
.set-icon .icon:hover > svg {
    fill: black;
}
.set-icon .icon svg {
    fill: whitesmoke;
    width: 50px;
    height: 50px;
}
.preview-icon {
    position: fixed;
    background: #01051c;
    transform: translate(-50%, -50%) scale(0);
    max-width: 800px;
    width: 95%;
    top: 50%;
    left: 50%;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    outline: 1px solid whitesmoke;
    transition: 0.5s all;
}
.preview-icon .top {
    display: flex;
}
.preview-icon .top svg {
    padding: 10px;
    width: 100px;
    height: 100px;
    fill: whitesmoke;
}
.preview-icon .top .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.preview-icon .top .information span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 5px;
}
.preview-icon .top .information span button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    color: #191919;
    border: none;
    padding: 2px 20px;
}
.preview-icon .top .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.preview-icon .top .btn b {
    color: #00eeff;
}
.preview-icon .top .btn button {
    cursor: pointer;
    width: 50%;
    height: 35px;
    background: whitesmoke;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.preview-icon pre {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #0c1a5d;
    padding-left: 10px;
    gap: 20px;
    min-height: 30dvh;
    border-radius: 10px;
    color: #00eeff;
}
.preview-icon pre code {
    cursor: pointer;
    scrollbar-width: none;
    overflow: scroll;
    font-weight: bold;
}
.preview-icon pre .corner {color: gray;}
.preview-icon pre .atribute {color: #ffae00;}
.preview-icon pre p {
    background: #01051c;
    padding: 5px 20px;
    top: 10px;
    left: 10px;
    position: absolute;
    border-radius: 10px;
    color: whitesmoke;
    opacity: 0;
    transition: 0.5s all;
}
.preview-icon pre small {
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 20px;
    position: absolute;
    color: #d1d2d2;
    text-align: center;
}
.preview-icon .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px 10px;
    border-radius: 10px;
    height: 20%;
}
.preview-icon .bottom b {
    color: #00eeff;
}
.alert-icon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40dvh;
}
/* FUNCTION */
.os-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.os-example fieldset {
    background: #01051c;
    box-shadow: 10px 10px 10px black;
    padding: 40px 20px;
    max-width: 1000px;
    width: 100%;
    height: 30dvh;
}
.os-example fieldset legend {
    border: 1px solid whitesmoke;
    background: linear-gradient(to right bottom, #01051c, #041983);
    box-shadow: 10px 10px 10px black;
}
.os-example fieldset legend h2 {
    padding: 10px 20px;
    text-shadow: 1px 1px 10px black;
}
/* SHOP */
.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    gap: 10px;
    padding: 10px;
}
.product {
    background: whitesmoke;
    width: 230px;
    height: max-content;
    padding: 5px;
    box-shadow: 0 0 1px black;
    border-radius: 10px;
}
.product .top {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 1px black;
    width: 100%;
}
.product .top img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 210px;
}
.product .bottom {
    padding: 5px;
    height: 35%;
}
.product .bottom .title {
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product .bottom .price {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product .bottom .price b {color: brown;}
.product .bottom .price small {
    font-size: 0.7rem;
    color: #616161;
}
.product .bottom .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.product .bottom .rating i {
    color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    background: rgba(255, 217, 0, 0.115);
}
.product .bottom .rating a {
    text-align: center;
    padding: 6px;
    width: 70%;
    background: #1e8701;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 0.8rem;
}
.product .bottom b {
    color: black;
}
/* ABOUT */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
    gap: 100px;
}
.about .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
    width: 90%;
    max-width: 800px;
}
.about .box .image {
    display: grid;
    overflow: hidden;
    place-items: center;
    background: #01051c;
    box-shadow: 10px 10px 10px black;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #00eeff;
}
.about .box span {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: whitesmoke;
}
.about .box span b {
    color: #00eeff;
}
.about .box span h1,
.about .box span h2 {
    color: #00eeff;
    font-size: 3rem;
}
.about .box .sosial-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.about .box .sosial-media a {
    font-size: 20px;
    color: #00eeff;
}
.about .box span ul li a {
    color: #00eeff;
}
.template {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 200px;
}
.template h1 {
    font-size: 3rem;
}
.template h1,
.template h2,
.template strong,
.template a {
    color: #00eeff;
}
footer {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
    height: 20dvh;
}
footer ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
footer ul li a,
footer p {
    font-size: 1rem;
    color: whitesmoke;
}
footer ul li a svg {color: #00eeff;}
@media only screen and (max-width: 1200px){
    header nav ul {gap: 20px;}
}
@media only screen and (max-width: 1000px){
    header nav ul{gap: 10px;}
    .template {padding: 100px;}
}
@media only screen and (max-width: 900px){
    header nav ul{gap: 5px;}
    header nav ul li a {font-size: 1rem;}
    .home h1 {font-size: 2.5rem;}
}
@media only screen and (max-width: 800px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    header label , header span p{display: block;}
    header nav ul {
        position: fixed;
        flex-direction: column;
        justify-content: space-evenly;
        background: linear-gradient(to right bottom,#01051ce0, #040f50e4);
        box-shadow: -5px 0 10px black;
        backdrop-filter: blur(10px);
        transition: 0.5s all;
        width: 90%;
        height: 100%;
        right: -100%;
        top: 0;
        gap: 0;
    }
    header nav ul li {width: 90%;}
    header nav ul li a {font-size: 1.2rem;}
    header nav ul li a:hover {
        background: whitesmoke;
        color: #041983;
    }
    .set-icon {
        padding: 10px;
    }
    .shop {flex-direction: row;}
    .source article {
        flex-direction: column;
    }
    .source article .pict .landscape {
        width: 100%;
    }
    .template {padding: 50px;}
}
@media only screen and (max-width: 550px) {
    .home h1 {font-size: 2rem;}
}
@media only screen and (max-width: 500px){
    .about .box span h1,
    .about .box span h2 {font-size: 2rem;}
    .product {width: 48%;}
    .product .top img {height: 150px;}
    .product .bottom .rating i,
    .product .bottom .rating a {
        font-size: 0.7rem;
    }
    .template {padding: 20px;}
    .template h1 {font-size: 2rem;}
}
@media only screen and (max-width: 440px) {
    section h1 {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 420px) {
    footer ul li a, footer p {
        font-size: 0.8rem;
    }
}
